html {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
}

.site-header::after {
    content: "";
    display: table;
    clear: both;
}

.site-info {
    display: inline-block
}

.site-info h1 {
    font-family: verdana;
    font-size: 1.9em;
    margin: 20px 300px 20px 300px;
    display: inline-block;
    color: #1F618D;
}

.site-info img {
    float: left;
    margin: 0 10px 0 0;
    display: inline;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
    margin: 0;
}

/* clears the margins of the body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

